body {
    font-family: 'Doulos SIL', 'Palatino', serif;
    background-color: #f3e9dd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: #654321;
}

.content {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
}

.title-container {
    text-align: center;
    margin-bottom: 40px;
}

.entry {
    margin-bottom: 30px;
}

.entry-date {
    font-size: 1em;
    color: #654321;
    margin-bottom: 10px;
}

.box {
    padding: 20px;
    background-color: #fbf5ee;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(200, 172, 135, 0.5);
    border-radius: 5px;
    color: #654321;
}
